div(ng-controller="HomeController")
    
    div(class="container")
            
        div(class="left-panel")
            
            div(ng-repeat="feature in features")
                    
                    feature-info(item="feature")
        
        div(class="right-panel")

            h1(class="showcase") WOLFPACK253
                
            hr
                    
            div(info-change)
                
            hr
            
            div(server-info)
                
            hr
                
                    
            
                
            
