div(ng-controller="HomeController")
    
    div(class="container")
            
        div(class="left-panel")
            
            div(ng-repeat="feature in features")
                    
                    feature-info(item="feature")
        
        div(class="right-panel")

            h1(class="showcase") WOLFPACK253
                
                
            hr
            
            div(class="col-md-12")
            
                h2(class="panel-content") Message of the Day
                
                a(href="#" class="edit-link fa fa-pencil pull-right") change message
            
            div(class="col-md-12")
                
                p {{ dailyMessage }}
