div(ng-controller="HomeController")
    
    div(class="container")
            
        div(class="left-panel")
            
            div(ng-repeat="feature in features")
                    
                    feature-info(item="feature")
        
        div(class="right-panel")

            h1(class="showcase") WOLFPACK253
                
            hr
            
            div(class="home-section")
            
                div(class="col-md-12")
                
                    h2(class="panel-content") Message of the Day
                    
                    label(class="edit-link fa fa-pencil pull-right" ng-click="showInfo('dailyMessage')")
        
                div(class="col-md-12 home-message")
                    
                    span {{ dailyMessage.message }}
                    
                    span(class="home-author") - {{ dailyMessage.author | uppercase }}
                        
            div(info-change ng-show="type === 'dailyMessage'" info="{{type}}" message="{{dailyMessage.message}}")
                
            hr
            
            div(class="home-section")
            
                div(class="col-md-12")
                
                    h2(class="panel-content") Voice Chat Info
                    
                    label(class="fa fa-pencil pull-right edit-link" ng-click="showInfo('ventInfo')")
                    
                    div(class="home-vent col-md-12")
                    
                        div(class="home-list") Server: wolfpack253.typefrag.components
                        
                        div(class="home-list") Password: pandahat
                        
                        div(class="home-list") Port: 1337
    
                
            div(info-change ng-show="type === 'ventInfo'" info="{{type}}")
                
            hr
                
                    
            
                
            
