div(ng-controller="HomeController")
    
    div(class="container")
            
        div(class="left-panel")
            
            div(ng-repeat="feature in features")
                    
                    feature-info(item="feature")
        
        div(class="right-panel")

            h1(class="showcase") WOLFPACK253
                
                
            hr
            
            div(class="col-md-12")
            
                h2(class="panel-content") Message of the Day
                
                label(motdPopover class="edit-link fa fa-pencil pull-right active-popover" data-viewport='{ "selector": "body", "padding": 0 }' data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.") change message
            
            div(class="col-md-12")
                
                p {{ dailyMessage.message }}
                
                p(class="pull-right") - {{ dailyMessage.author | uppercase }}
                
            hr
            
