div(ng-controller="HomeController")
    
    div(class="container")
            
        //- div(class="left-panel")
        //-     
        //-     //- div(ng-repeat="feature in features")
        //-     //-         
        //-     //-         feature-info(item="feature" ng-if="feature.active")
        
        div(class="")

            h1(class="showcase") WOLFPACK253
                
            hr
                    
            div(info-change)
                
            hr
            
            div(server-info)
                
            hr
                
                    
            
                
            
