div(ng-show="showError" class="error_message-container container animate-error-show")

    div(class="error_exit fa fa-times" ng-click="clear()" aria-hidden="true")

    div(class="error_message") {{errorMessage}}
