doctype html
html
    head
        title Wolfpack253
        meta(name="viewport" content="width=device-width, initial-scale-1")
        base(href="/home")
        include ./includes/head.jade
        
    body(ng-app="wolfpackApp" class="black" ng-controller="HomeController")


        nav(class="navbar navbar-default navbar-fixed-top hidden-xs")
            
            div(class="container-fluid")
                
                div(class="navbar-header logo-container")
                
                    a(class="navbar-brand" href="/") <img class="img-responsive" id="logo" src="img/wolf-logo.png" alt="Wolfpack"/>
                    
                div
            
                    ul(class="nav nav-pills")
                        
                        li(role="presentation" data-toggle="tab" ng-class="{active: $route.current.activetab == 'guilds'}") <a class="fa fa-gamepad" href="/guilds">Guilds</a>
                        
                        li(role="presentation" data-toggle="tab" ng-class="{active: $route.current.activetab == 'chats'}") <a class="fa fa-weixin" href="/chats">Chats</a>
                        
                        li(role="presentation" data-toggle="tab" ng-class="{active: $route.current.activetab == 'albums'}") <a class="fa fa-picture-o" href="/albums">Albums</a>
                        
                        li(role="presentation" data-toggle="tab" ng-class="{active: $route.current.activetab == 'events'}") <a class="fa fa-calendar-check-o" href="/events">Events</a>
                        
                        
                        div(class="dropdown navbar-right")
                        
                            button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Profile &nbsp
                        
                                span(class="caret")
                            
                            ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                            
                                li <a href="#">My Profile</a>
                                li(role="separator" class="divider")
                                li <a href="#">Logout</a>
        
        div(ng-view)
