doctype html
html
head
    title Wolfpack Project
    include ./includes/head.jade
body
    div
        img(class="img-responsive pull-right" src="img/wolf-logo.png" alt="Wolfpack")

    p(class="text-right") Here is some text
