doctype html
html
    head
        title Wolfpack253
        base(href="/home")
        include ./includes/head.jade
        
    body(ng-app="wolfpackApp" class="dark-gray")


        nav(class="navbar navbar-default navbar-fixed-top")
            
            div(class="container-fluid")
                
                div(class="navbar-header logo-container")
                
                    a(class="navbar-brand" href="/") <img class="img-responsive" id="logo" src="img/wolf-logo.png" alt="Wolfpack"/>
                    
                div
            
                    ul(class="nav nav-pills")
                        
                        li(role="presentation") <a class="fa fa-gamepad accent-text" href="">Guilds</a>
                        
                        li(role="presentation") <a class="fa fa-weixin accent-text" href="">Chats</a>
                        
                        li(role="presentation") <a class="fa fa-picture-o accent-text" href="">Albums</a>
                        
                        li(role="presentation") <a class="fa fa-calendar-check-o accent-text" href="">Events</a>
                        
                        
                        div(class="dropdown navbar-right")
                        
                            button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Profile &nbsp
                        
                                span(class="caret")
                            
                            ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                            
                                li <a href="#">My Profile</a>
                                li(role="separator" class="divider")
                                li <a href="#">Logout</a>
        
        div(ng-view)
