doctype html
html
    head
        title Wolfpack Project
        base(href="/home")
        include ./includes/head.jade
        
    body(ng-app="wolfpackApp" class="dark-gray")


        nav(class="navbar navbar-default navbar-fixed-top")
            
            div(class="container-fluid")
                
                div(class="navbar-header logo-container")
                
                    a(class="navbar-brand" href="/") <img class="img-responsive" id="logo" src="img/wolf-logo.png" alt="Wolfpack"/>
                    
                div(class="center")
            
                    ul(class="nav nav-pills")
                        
                        li(role="presentation") <a class="fa fa-gamepad accent-text" href="">Guilds</a>
                        
                        li(role="presentation") <a class="fa fa-weixin accent-text" href="">Chats</a>
                        
                        li(role="presentation") <a class="fa fa-picture-o accent-text" href="">Albums</a>
                        
                        li(role="presentation") <a class="fa fa-calendar-check-o accent-text" href="">Events</a>
                        
                        
                //- div(class="dropdown navbar-right")
                //- 
                //-     button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Profile
                //- 
                //-         span(class="caret")
                //-     
                //-     ul(class="dropdown-menu navbar-right" aria-labelledby="dropdownMenu1")
                //-     
                //-         li <a href="#">Action</a></li>
                //-         li <a href="#">Another action</a></li>
                //-         li <a href="#">Something else here</a></li>
                //-         li(role="separator" class="divider")
                //-         li <a href="#">Separated link</a>
        
        div(ng-view)
