doctype html
html
    head
        title Wolfpack253
        meta(name="viewport" content="width=device-width, initial-scale-1")
        base(href="/home")
        include ./shared/includes/head.jade
        
    body(ng-app="app" class="black")


        nav(class="navbar navbar-default navbar-fixed-top")
            
            div(class="container-fluid")
                
                div(class="navbar-header")
                
                    a(class="navbar-brand" href="/home") <img ui-sref-active="active" class="img-responsive" id="logo" src="img/wolf-logo.png" alt="Wolfpack"/>
                    
                div(class="hidden-xs")
            
                    ul(class="nav nav-pills")
                        
                        li <a ui-sref="guilds" ui-sref-active="active" class="fa fa-gamepad home-nav-item">Guilds</a>
                        
                        li <a ui-sref="chats" ui-sref-active="active" class="fa fa-weixin home-nav-item">Chats</a>
                        
                        li <a ui-sref="albums" ui-sref-active="active" class="fa fa-picture-o home-nav-item">Albums</a>
                        
                        li <a ui-sref="events" ui-sref-active="active" class="fa fa-calendar-check-o home-nav-item" >Events</a>
                        
                        
                        div(class="dropdown navbar-right")
                        
                            button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Profile &nbsp
                        
                                span(class="caret")
                            
                            ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                            
                                li <a href="#">My Profile</a>
                                li(role="separator" class="divider")
                                li <a href="#">Logout</a>
        
        div(ui-view)
