doctype html
html
    head
        title Wolfpack253
        meta(name="viewport" content="width=device-width, initial-scale-1")
        base(href="/")
        include ./shared/includes/head.jade
        
    body(ng-app="app" ng-controller="GatewayController" class="black")


        nav(class="navbar navbar-default navbar-fixed-top")
            
            div(class="container-fluid")
                
                div(class="navbar-header")
                
                    a(class="navbar-brand" href="/home") <img ui-sref-active="active" class="img-responsive" id="logo" src="img/wolf-logo.png" alt="Wolfpack"/>
                    
                    div
                
                        ul(class="nav nav-pills")
                            
                            li(ng-repeat="feature in features" ng-if="feature.active") <a ui-sref="{{feature.route}}" href="/{{feature.route}}" ui-sref-active="active" class="{{feature.icon}} home-nav-item">{{feature.title}}</a>
                            
                            
                            div(class="dropdown navbar-right pull-right")
                            
                                button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Profile &nbsp
                            
                                    span(class="caret")
                                
                                ul(class="dropdown-menu" aria-labelledby="dropdownMenu1")
                                
                                    li <a href="/profile">My Profile</a>
                                    li(role="separator" class="divider")
                                    li <a ng-click="logout()">Logout</a>
        
        div(ng-show="errorMessage !== '' " class="error_message-container container animate-error-show")
        
            div(class="error_message") {{errorMessage}}
        
        div(ui-view)
