.white {
    background-color: #FFFFFF;
    color: #4E4D4A;
}
.light-green {
    background-color: #94BA65;
}
.dark-gray {
    background-color: #4E4D4A;
    color: #FFFFFF;
}
.dark-blue {
    background-color: #2B4E72;
    color: #FFFFFF;
}
.light-blue {
    background-color: #2790B0;
    color: #4E4D4A;
}

.black {
    background-color: black;
    color: white;
}
