/* general styles */

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

div {
		display: block;
}

body.center {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
		padding-top: 70px;
		background-color: #4E4D4A;
		background: url(/img/jumbo.jpg);
		background-size: cover;
		background-repeat: no-repeat;
}

h1 {
	cursor: pointer;
}

hr {
	width: 90%;
	display: inline-flex;
}

 div  .popover-content {
	color: black;
	font-size: 1.1em;
}

li .active {
	background-color: #2790B0;
	border: 2px solid  #2B4E72;
	color: white;
}

.nav > li > a:focus {
	background-color: #2790B0;
	border: 2px solid  #2B4E72;
	color: white;
}

.matting {
	/*margin: 15px;*/
	padding: 5px;
	border: 2px solid black;
	border-radius: 12px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
}

.matting img {
	border-radius: 12px;
}

#logo {
	max-width: 40px;
	max-height: 40px;
	margin-top: -10px;
}

/* Large Screen Widths */
@media (min-width: 800px) {

    .container {
        margin: auto;
        max-width: 800px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 5px;
    }

    .content-mod {
        font-size: .8em;
    }

    .left-panel {
        position: relative;
        height: auto;
        width: 20%;
        display: block;
        float: left;
    }

    .right-panel {
        width: 75%;
        height: auto;
        display: block;
        float: right;
    }

    .panel-content {
        width: auto;
        height: auto;
        position: relative;
        padding-bottom: 5px;
        display: inline-block;

    }

    .edit-link {
        width: auto;
        height: auto;
        position: absolute;
        display: inline-block;
        bottom: 0;
        right: 0;
        padding-bottom: 15px;
		font-size: 1em;
		cursor: pointer;
    }

    .right-panel div p {
        font-size: 1.3em;
		display: block;
    }

    .navbar-right {
        margin-right: 10px;
    }

    .nav-pills {
        padding-top: 5px;
    }

    .nav-pills > li {
        /*background-color: #4E4D4A;*/
        border-radius: 10px;
    }

    .showcase {
        font-size: 5em;
        font-weight: bold;
    }

}

/* Small Screen Widths */
@media (max-width: 799px) {

	.container {
		margin: auto;
		max-width: 800px;
		background-color: rgba(0, 0, 0, 0.75);
		border-radius: 5px;
		text-align: center;
		align-content: center;
		display: flex;
		flex-direction: column;
	}

	.left-panel {
		margin: auto;
		position: relative;
		width: 50%;
		height: auto;
		order: 2;
	}

	.row {
		display: inline-flex;
	}

	.right-panel {
		width: 100%;
		height: auto;
		margin: auto;
		order: 1;
		display: flex;
		flex-direction: column;
	}

	.panel-content {
		width: 100%;
		height: auto;
		margin: auto;
		position: relative;
		padding-bottom: 5px;
		order: 1;
	}

	.edit-link {
		width: 100%;
		height: auto;
		margin-top: 10px;
		padding-bottom: 15px;
		font-size: 1em;
		position: relative;
		order: 2;
		cursor: pointer;
	}

	.right-panel div p {
		font-size: 1em;
	}


	.matting img {
			border-radius: 12px;
	}

	.showcase {
		margin: auto;
		width: 100%;
		position: relative;
		font-size: 2.5em;
		font-weight: bold;
	}

	h2 {
		font-size: 1.5em;
	}
}
