/* general styles */

/** {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}*/

body { padding-top: 0px; background-color: #4E4D4A} /* This keeps the body content below the nav bar */

.jumbotron {
   background: url(/img/jumbo.jpg);
   min-height: 500px;
}

.accent-text {
    color: #94BA65; /* light green from colors.css */
}

.row {
    margin-bottom: 25px;
}

.matting {
    margin: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 12px;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.matting img {
    border-radius: 12px;
}

.jumbotron h1 {
    color: white;
}

.showcase {
    margin-left: 5%;
}

.nav-pills {
    padding-top: 5px;
}

.center {
    margin: auto;
    width: 75%;
	display: flex;
}

#logo {
    max-width: 40px;
    max-height: 40px;
    margin-top: -10px;
}

#logo-container {
    margin-right: 20px;
}
