div(ng-controller="EventsController")

	div(class="event_day-container")
	
		div(class="event_header")
		

		div(ng-repeat="day in days | limitTo:7" class="event_date-box")
					
			div(class="event_date") <span class="event_date-actual">{{day.date}}</span>
			
			div(class="event_event-name-container")
				
				div(ng-repeat="event in day.events | limitTo:3" class="event_event-name") {{ event.name }}
			
			div(class="event_num-events" ng-show="day.events.length > 0") {{day.events.length}} total events

		div(ng-repeat="day in days | limitTo:7:7" class="event_date-box")
					
			div(class="event_date") <span class="event_date-actual">{{day.date}}</span>
			
		div(ng-repeat="day in days | limitTo:7:14" class="event_date-box")
					
			div(class="event_date") <span class="event_date-actual">{{day.date}}</span>
			
		div(ng-repeat="day in days | limitTo:7:21" class="event_date-box")
					
			div(class="event_date") <span class="event_date-actual">{{day.date}}</span>
