div(ng-controller="EventsController")

	div(class="event_side-bar")
		
		span(class="event_add-btn fa fa-plus-square-o" aria-hidden="true" ng-click="openAddDialog()")

	div(class="event_day-container")
	
		div(ng-show="!loading")
	
			div(class="event_header row")
			
				div(class="pull-left fa fa-arrow-left event_nav-arrow" ng-click="moveToPrev()" aria-hidden="true")
				
				div(class="pull-right fa fa-arrow-right event_nav-arrow" ng-click="moveToNext()" aria-hidden="true")
			
				h2(class="event_month") {{ month }}
				
				div(class="event_week")
				
					div(ng-repeat="day in weekdays" class="event_week-names") {{ day }}
			
			div(class="row")

				div(ng-repeat="day in days | limitTo:7" class="event_date-box")
							
					div(class="event_date") <span class="event_date-actual">{{formatDate($index)}}</span>
					
					div(class="event_event-name-container")
						
						div(ng-repeat="event in day.events | limitTo:3" class="event_event-name" ng-click="viewEvent($parent.$index, $index)") {{ event.name }}
					
					div(class="event_num-events" ng-show="day.events.length > 0" ng-click="viewAllEvents($index)") {{day.events.length}} total events
					
			div(class="row")

				div(ng-repeat="day in days | limitTo:7:7" class="event_date-box")
							
					div(class="event_date") <span class="event_date-actual">{{formatDate($index + 7)}}</span>
					
					div(class="event_event-name-container")
						
						div(ng-repeat="event in day.events | limitTo:3" class="event_event-name" ng-click="viewEvent($parent.$index + 7, $index)") {{ event.name }}
					
					div(class="event_num-events" ng-show="day.events.length > 0" ng-click="viewAllEvents($index + 7)") {{day.events.length}} total events
					
			div(class="row")

				div(ng-repeat="day in days | limitTo:7:14" class="event_date-box")
							
					div(class="event_date") <span class="event_date-actual">{{formatDate($index + 14)}}</span>
					
					div(class="event_event-name-container")
						
						div(ng-repeat="event in day.events | limitTo:3" class="event_event-name" ng-click="viewEvent($parent.$index + 14, $index)") {{ event.name }}
					
					div(class="event_num-events" ng-show="day.events.length > 0" ng-click="viewAllEvents($index + 14)") {{day.events.length}} total events
					
			div(class="row")

				div(ng-repeat="day in days | limitTo:7:21" class="event_date-box")
							
					div(class="event_date") <span class="event_date-actual">{{formatDate($index + 21)}}</span>
					
					div(class="event_event-name-container")
						
						div(ng-repeat="event in day.events | limitTo:3" class="event_event-name" ng-click="viewEvent($parent.$index + 21, $index)") {{ event.name }}
					
					div(class="event_num-events" ng-show="day.events.length > 0" ng-click="viewAllEvents($index + 21)") {{day.events.length}} total events

					
		div(class="event_loading-container" ng-show="loading")
		
			div(class="fa fa-spinner fa-pulse fa-5x fa-fw event_loader")
