doctype html
html
    head
        title Wolfpack
        base(href="/")
        include ../shared/includes/head.jade
        
        //-CONTROLLERS
    body(ng-app="gateway" class="jumbotron-narrow black center")
        div(class="container")
            div(class="col-sm-6 col-sm-offset-3")
                div(ui-view)
                br
