doctype html
html
    head
        title Wolfpack
        
        //-CONTROLLERS
    body(ng-app="wolfpackApp" class="jumbotron dark-blue")
        div(class="container")
            div(class="col-sm-6 col-sm-offset-3")
                h1 SAMPLE TEXT
                div(ui-view)
