div(ng-controller='LoginController' class="container")
    h1
        span(class="fa fa-sign-in")
            | Login

    form(role="form")
        div(class="form-group")
            label(for="username") Username
            input#username.form-control(type="text" name="username" placeholder='Enter Username')
        div(class="form-group")
            label(for="password") Password
            input#password.form-control(type="password" name="password" placeholder='Enter Password')
            br
            button(type="submit" class="btn btn-warning btn-lg" ng-click="login()") Login
    hr
    p Need an account? <a href="/register">Register</a>
