div(class="row")

    div(class="dark-gray text-center col-md-12 matting"  ng-mouseenter="mouseEntered($event)" ng-mouseleave="mouseExited($event)" ng-click="go( item.route )")
    
        img(ng-src="{{item.image}}" alt="feature image" class="img-responsive")
        
        h3 {{item.title}}
