
div(class="col-md-12")

    h3(class="panel-content") Message of the Day
    
    label(ng-if="isAdmin" class="edit-link fa fa-pencil pull-right" ng-click="showInfo()")

    div(class="col-md-12 home-message")
        
        span(class="home-list" ng-model="message") {{ message }}
        
        span(class="home-author" ng-model="author") - {{ author | uppercase }}

div(ng-show="isShowing" class="info-change_container")

    p {{ heading }}

    div(class="form-group  animate-show" ng-show="isShowing")

        form
            
            input(type="text" name="motdmessage" class="form-control" id="dailyMessageField")
            
            br
            
            input(type="submit" value="Save" class="info-change_submit" ng-click="sendChange()")
