div

    h3 Message of the Day:

    div(class="form-group")

        form
            
            input(type="text" name="motdmessage" class="form-control")
            
            br
            
            input(type="submit" value="Save")
