div(class=" dark-gray text-center col-md-2 col-md-push-1 matting"  ng-click="go('/guilds')")
                
    img(ng-src="{{ feature.image }}" alt="feature image" class="img-responsive")
    
    h3 {{ feature.title }}
            