link(rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet' href='css/style.css')

script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")

script(src="js/appRoutes.js")


//-MODULES
script(src="js/app.js")

//-CONTROLLERS
script(src="js/controllers/HomeCtrl.js")

//-DIRECTIVES
script(src="js/directives/featureInfo.js")
