link(rel='stylesheet' href='libs/bootstrap/dist/css/bootstrap.min.css')
link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
link(rel='stylesheet' href='css/style.css')

script(src="libs/angular/angular.min.js")
script(src="libs/angular-route/angular-route.min.js")

script(src="js/appRoutes.js")

//-MODULES
script(src="js/app.js")

//-CONTROLLERS
script(src="js/controllers/HomeController.js")

//-DIRECTIVES
script(src="js/directives/featureinfo.js")
