/* general styles */

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body.center {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
		padding-top: 70px;
		background-color: #4E4D4A;
		background: url(/img/jumbo.jpg);
		background-repeat: no-repeat;
}

hr {
	width: 100%;
	display: inline-flex;
}

 div  .popover-content {
	color: black;
	font-size: 1.1em;
}

li .active {
	background-color: #2790B0;
	color: white;
}

.nav > li > a:focus {
	background-color: #2790B0;
	color: white;
}

.nav > li > a:hover {
	background-color: #2790B0;
	color: white;
}

.nav > li > a {
	margin-left: 1em;
}

.form-group {
	padding: .5em;
}

.matting {
	/*margin: 15px;*/
	padding: 5px;
	border: 2px solid black;
	border-radius: 12px;
	color: white;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
}

.matting img {
	border-radius: 12px;
}

#logo {
	max-width: 40px;
	max-height: 40px;
	margin-top: -10px;
}

.home-message {
	display: block;
	margin-top: .5em;
}

.home-author {
	display: block;
	text-align: right;
}

.home-list {
	font-size: 1em;
	line-height: 2;
}

.container {
    margin: auto;
    max-width: 800px;
	min-width: 400px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.content-mod {
    font-size: .8em;
}

.left-panel {
    width: 20%;
    float: left;
}

.right-panel {
    width: 75%;
    height: auto;
    display: block;
    float: right;
}

.panel-content {
    padding-bottom: 5px;
    display: table-cell;

}

.edit-link {
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 0;
}

.right-panel div p {
    font-size: 1.3em;
	display: block;
}

.navbar-right {
    margin-right: 10px;
}

.nav-pills {
    padding-top: 5px;
}

.nav-pills > li {
    border-radius: 10px;
}

.showcase {
    font-size: 5em;
    font-weight: bold;
	text-align: center;
}



/* Small Screen Widths */
@media (max-width: 799px) {

	.container {
		margin: auto;
		max-width: 800px;
		background-color: rgba(0, 0, 0, 0.75);
		border-radius: 5px;
		text-align: center;
		align-content: center;
		display: flex;
		flex-direction: column;
	}

	.left-panel {
		margin: auto;
		position: relative;
		width: 50%;
		height: auto;
		order: 2;
	}

	.home-list {
		font-size: 2em;
	}

	.right-panel {
		width: 100%;
		height: auto;
		margin: auto;
		order: 1;
		display: flex;
		flex-direction: column;
	}

	.panel-content {
		margin: auto;
		display: inline-block;
	}

	.edit-link {
		float: right;
		cursor: pointer;
		margin-right: 1.5em;
	}

	.home-author {
		font-size: .7em;
		margin-top: .5em;
	}

	.edit-link span {
		display: none;
	}

	.right-panel div p {
		font-size: 1em;
	}


	.matting img {
			border-radius: 12px;
	}

	.showcase {
		margin: auto;
		width: 100%;
		position: relative;
		font-size: 2.5em;
		font-weight: bold;
	}

	h2 {
		font-size: 1.5em;
	}
}
