.jumbotron
    h1.showcase WOLFPACK253
    
    
div(ng-controller="HomeController")
    
    div(class="container")
    
        h2 Feature List
    
        div(ng-repeat="tab in tabs")
        
            featureinfo(item="tab")
            
            p {{tab.title}}
