//- .jumbotron
h1(class="showcase accent-text") WOLFPACK253
    
    
div(ng-controller="HomeController")
    
    div(class="container")
        
        div(class="row")
        
            div(ng-repeat="feature in features")
            
                //- featureinfo(item="feature")
                
                div(class=" dark-gray text-center col-md-2 col-md-push-1 matting")
                
                    img(ng-src="{{ feature.image }}" alt="feature image" class="img-responsive")
                    
                    h3 {{ feature.title }}
            
