.jumbotron
    h1(class="showcase accent-text") WOLFPACK253
    
    
div(ng-controller="HomeController")
    
    div(class="container")
        
        div(class="row")
        
            div(ng-repeat="feature in features")
            
                //- featureinfo(item="tab")
                div(class="text-center col-md-5 matting")
                
                    img(ng-src="{{ feature.image }}" alt="feature image" class="img-responsive")
                    
                    h3 {{ feature.title }}
            
