.event_day-container {
    margin: auto;
    width: 80%;
}

.event_date {
    margin: .5em;
}

.event_date-box {
    display: inline-block;
    width: 13%;
    margin: .3em;
    background-color: rgba(0, 0, 0, 0.75);
    height: 180px;
    border-radius: 5px;
}

/* Small Screen Widths */
@media (max-width: 1000px) {

    .event_date-box {
        height: 100px;
        width: 12%;
    }

}

/* Small Screen Widths */
@media (max-width: 450px) {

    .event_date-box {
        height: 35px;
        width: 10.5%;
    }


    .event_date {
        margin: .1em;
        font-size: .75em;
    }

}
