.event_day-container {
    margin: auto;
    width: 80%;
}

.event_date {
    margin: .5em;
    background-color: rgba(255, 255, 255, .2);
    padding-left: .5em;
}

.event_date-box {
    display: inline-block;
    width: 13%;
    margin: .3em;
    background-color: rgba(0, 0, 0, 0.75);
    height: 180px;
    border-radius: 5px;
    vertical-align: top;
    position: relative;
}

.event_num-events {
    margin: 1em;
    position: absolute;
    bottom: .3em;
    left: .3em;
}

.event_event-name {
    margin-left: .3em;
}

.event_event-name-container {
    overflow: hidden;
    max-height: 50%;
    text-align: center;
}

/* Small Screen Widths */
@media (max-width: 1000px) {

    .event_date-box {
        height: 100px;
        width: 12%;
    }

}

/* Small Screen Widths */
@media (max-width: 450px) {

    .event_date-box {
        height: 35px;
        width: 10.5%;
    }


    .event_date {
        margin: .1em;
        font-size: .75em;
    }

}
